@using Corprio.Core.Utility
@using Corprio.AspNetCore.Site.Utility
@using Microsoft.Extensions.Localization;
@using Corprio.Global.Geography;
@using Corprio.DataModel.Business;
@inject Corprio.CorprioAPIClient.APIClient corprioApi
@inject Corprio.AspNetCore.Site.Services.IUserPreferenceService userPreferenceService
@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env

@{
    string clientLibVersion = "2.6.18"; //version of npm package @corprio/aspnetcore-site
    string clientID = configuration["CorprioClientCredential:ClientID"];
    Corprio.AspNetCore.Site.Models.AppMenu menu = await userPreferenceService.GetAppMenu(clientID, Corprio.SocialWorker.Models.Menu.StandardMenu);
    Guid organizationID = Context.SelectedOrganizationID() ?? Guid.Empty;    
}

<!DOCTYPE html>
<html lang="@LanguageHelper.CurrentLang()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Corprio is a free portal for connecting your business data to web services and applications">
    <meta name="author" content="Corprio">
    <environment include="Sandbox">
        <meta name="robots" content="noindex" />
    </environment>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest.json">

    <title>@ViewData["Title"] - @globalLocalizer[clientID]</title>

    <!--style sheets-->

    <environment include="Development">
        <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/node_modules/@("@")corprio/aspnetcore-site/dist/css/dx.material.corprio-scheme.min.css?v=@clientLibVersion" />
        <link rel="stylesheet" href="~/node_modules/@("@")corprio/aspnetcore-site/dist/css/corprio.css?v=@clientLibVersion" />
        <link rel="stylesheet" href="~/node_modules/@("@")corprio/aspnetcore-site/dist/css/corprio-app.css?v=@clientLibVersion" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.6.0/css/bootstrap.min.css"
              asp-fallback-href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/node_modules/@("@")corprio/aspnetcore-site/dist/css/dx.material.corprio-scheme.min.css?v=@clientLibVersion" />
        <link rel="stylesheet" href="~/node_modules/@("@")corprio/aspnetcore-site/dist/css/corprio.min.css?v=@clientLibVersion" />
        <link rel="stylesheet" href="~/node_modules/@("@")corprio/aspnetcore-site/dist/css/corprio-app.min.css?v=@clientLibVersion" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="@LanguageHelper.GoogleFontCss()" rel="stylesheet">
    <link rel="stylesheet" href="~/@("@")corprio/aspnetcore-site/@LanguageHelper.SetFontCss()" />

    @RenderSection("Stylesheet", required: false)

    <!--javascripts-->
    <environment include="Development">
        <script src="~/node_modules/jquery/dist/jquery.js"></script>
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/node_modules/jszip/dist/jszip.js"></script>
        @* Start: Required by XtraReport viewer *@
        <script src="~/node_modules/jquery-ui-dist/jquery-ui.js"></script>
        <script src="~/node_modules/knockout/build/output/knockout-latest.js"></script>
        @* End: Required by XtraReport viewer *@
        <!-- DevExtreme Quill (required by the HtmlEditor UI component) -->
        <script src="https://cdn3.devexpress.com/jslib/23.2.3/js/dx-quill.min.js"></script>
        <script src="https://cdn3.devexpress.com/jslib/23.2.3/js/dx.all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme-aspnet-data/3.0.0/dx.aspnet.data.min.js"></script>
        <script src="https://cdn3.devexpress.com/jslib/23.2.3/js/dx.aspnet.mvc.js"></script>
        <script src="~/node_modules/@("@")corprio/aspnetcore-site/dist/js/corprio.bundle.js?v=@clientLibVersion"></script>
        <script src="~/node_modules/@("@")corprio/aspnetcore-site/@LanguageHelper.LoadMessagesJs()?v=@clientLibVersion" type="module"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>        
        @RenderSection("ScriptsDev", required: false)
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.min.js"></script>
        <!-- DevExtreme Quill (required by the HtmlEditor UI component) -->
        <script src="https://cdn3.devexpress.com/jslib/23.2.3/js/dx-quill.min.js"></script>
        <script src="https://cdn3.devexpress.com/jslib/23.2.3/js/dx.all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme-aspnet-data/3.0.0/dx.aspnet.data.min.js"></script>
        <script src="https://cdn3.devexpress.com/jslib/23.2.3/js/dx.aspnet.mvc.js"></script>
        <script src="~/node_modules/@("@")corprio/aspnetcore-site/dist/js/corprio.bundle.min.js?v=@clientLibVersion"></script>
        <script src="~/node_modules/@("@")corprio/aspnetcore-site/@LanguageHelper.LoadMessagesJs()?v=@clientLibVersion" type="module"></script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
        @RenderSection("ScriptsPro", required: false)
    </environment>
    @* to prevent InvalidOperationException: The following sections have been defined but have not been rendered by the page *@
    @if (env.EnvironmentName == "Development" && IsSectionDefined("ScriptsPro"))
    {
        IgnoreSection("ScriptsPro");
    }
    @if (env.EnvironmentName != "Development" && IsSectionDefined("ScriptsDev"))
    {
        IgnoreSection("ScriptsDev");
    }
    @* Start: Required by exporting from dxDataGrid *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.4.0/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    @* End: Required by exporting from dxDataGrid *@

    <script src="https://kit.fontawesome.com/c498fa0e7a.js" crossorigin="anonymous"></script>

    @RenderSection("Style", required: false)
    @RenderSection("Scripts", required: false)
</head>

@{
    string controller = (string)ViewContext.RouteData.Values["Controller"];
    string action = (string)(ViewContext.RouteData.Values["Action"] ?? "Index");
}
<body>    
    <div id="page">
        @await Html.PartialAsync("_Navbar", model: new NavbarViewModel{
        ClientID = clientID,
        OrganizationID = organizationID,
        Menu = menu,
        Controller = controller,
        Action = action,
        GlobalLocalizer = globalLocalizer,
        Localizer = localizer,
        AppIconPath = "/images/appicon.png"
        })

        <div id="under-navbar">
            @if (User.Identity.IsAuthenticated)
            {
                @await Html.PartialAsync("_SidebarMenu", model: new SidebarMenuViewModel{
                ClientID = clientID,
                OrganizationID = organizationID,
                Menu = menu,
                Controller = controller,
                Action = action,
                GlobalLocalizer = globalLocalizer,
                Localizer = localizer,
           AppIconPath = "/images/appicon.png"
                })
            }
            <div id="beside-sidebar">
                <div id="fixed-topbar">
                    @RenderSection("TopBar", required: false)
                </div>
                <div id="main-wrapper">
                    <div id="fixed-leftbar">
                        @RenderSection("LeftBar", required: false)
                    </div>
                    <div id="main">
                        <div id="content" class="darker-grey">
                            <partial name="_CookieConsentPartial" />
                            @RenderBody()
                        </div>
                        @await Html.PartialAsync("_Footer")
                    </div>
                    <div id="fixed-rightbar">
                        @RenderSection("RightBar", required: false)
                    </div>                    
                    <div id="fixed-bottombar">
                        @RenderSection("BottomBar", required: false)
                    </div>
                </div>

                @await Html.PartialAsync("_LanguageModal")

            </div>            
            <div id="overlay" style="display:none;"></div>
        </div>
    </div>
    <script src="@configuration["CorprioPortalUrl"]/js/corprio-menu-popup-snippet.min.js"></script>    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>